{% extends "main.html" %} {% block content %} {% if number > 10 %}
<p>Number is greater than 10</p>
{% else %}
<p>Number is less than 10</p>
{% endif %}
<h1>Projects Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione harum
  quos nihil earum libero nostrum, iste atque exercitationem non aspernatur
  similique quo, amet corrupti repellat veniam omnis voluptates eligendi? Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Natus, corrupti sit vel ad
  ea eaque libero aperiam eius quaerat ipsum! Laborum repellendus nobis
  temporibus quis doloremque voluptatum ab vel at? Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Fugit ratione harum quos nihil earum libero
  nostrum, iste atque exercitationem non aspernatur similique quo, amet corrupti
  repellat veniam omnis voluptates eligendi? Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Natus, corrupti sit vel ad ea eaque libero
  aperiam eius quaerat ipsum! Laborum repellendus nobis temporibus quis
  doloremque voluptatum ab vel at? Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Fugit ratione harum quos nihil earum libero nostrum, iste
  atque exercitationem non aspernatur similique quo, amet corrupti repellat
  veniam omnis voluptates eligendi? Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Natus, corrupti sit vel ad ea eaque libero aperiam eius
  quaerat ipsum! Laborum repellendus nobis temporibus quis doloremque voluptatum
  ab vel at?
</p>
{% endblock content %}
